services:
  orderer1-org0:
    container_name: orderer1-org0
    image: hyperledger/fabric-orderer
    user: "${LOCAL_UID:-1000}:${LOCAL_GID:-1000}"
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_LOCALMSPID=Org0MSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true 
      # >>>>>>>>>> 添加管理 API 配置 <<<<<<<<<<
      # 启用管理 API
      - ORDERER_CHANNELPARTICIPATION_ENABLED=true
      - ORDERER_ADMIN_TLS_ENABLED=true                # ← 新增：启用 Admin API 的 TLS
      - ORDERER_ADMIN_LISTENADDRESS=0.0.0.0:9443     # ← 修改：osnadmin 连接这个端口
      - ORDERER_ADMIN_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/signcerts/cert.pem
      - ORDERER_ADMIN_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/keystore/key.pem
      - ORDERER_ADMIN_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/tlscacerts/tls-localhost-7052.pem]
      - ORDERER_ADMIN_TLS_CLIENTROOTCAS=[/var/hyperledger/orderer/tls/tlscacerts/tls-localhost-7052.pem] # 允许这个 CA 签发的客户端证书访问 Admin API

      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/keystore/key.pem
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/signcerts/cert.pem
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/tlscacerts/tls-localhost-7052.pem]
      # 指定创世区块文件的位置
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/genesis.block
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
      - ../../data/org0/orderer1:/var/hyperledger/production/orderer
      - ../../organizations/ordererOrganizations/org0.example.com/orderers/orderer1-org0.org0.example.com/msp:/var/hyperledger/orderer/msp
      - ../../organizations/ordererOrganizations/org0.example.com/orderers/orderer1-org0.org0.example.com/tls:/var/hyperledger/orderer/tls
      - ../../organizations/fabric-ca/tls-ca/crypto:/var/hyperledger/orderer/tlsca
      - ../../config/channel-artifacts/gen-mychannel.block:/var/hyperledger/orderer/genesis.block # Orderer 在启动时需要一个初始的区块来引导网络
    ports:
      - 7050:7050
      - 9443:9443  # 管理 API 端口 (osnadmin 需要连接这个端口)
    networks:
      - fabric-org0

networks:
  fabric-org0:
    driver: bridge

