version: '3.7'

services:
  orderer1-org0:
    container_name: orderer1-org0
    image: hyperledger/fabric-orderer
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_LOCALMSPID=org0MSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tlsca/tls-ca-cert.pem]
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
      - ../../data/org0/orderer1:/var/hyperledger/production/orderer
      - ../../organizations/ordererOrganizations/org0.example.com/orderers/orderer1.org0.example.com/msp:/var/hyperledger/orderer/msp
      - ../../organizations/ordererOrganizations/org0.example.com/orderers/orderer1.org0.example.com/tls:/var/hyperledger/orderer/tls
      - ../../organizations/fabric-ca/tls-ca/crypto:/var/hyperledger/orderer/tlsca
    ports:
      - 7050:7050
    networks:
      - fabric-org0

networks:
  fabric-org0:
    driver: bridge

